<div class="animated fadeIn">
  <div class="cotainer-fluid">
    <div class="row">

      <div class="col-sm-8">
        <div class="card card-inverse card-success">
          <div class="card-block">
            This is a <b>positive</b> tweet about this #Hashtag
          </div>
          <div class="card-footer">
            <span class="pull-right">-- Bala Kumar</span>
          </div>
        </div>
      </div><!--/.col-->


      <div class="col-sm-8">
        <div class="card card-inverse card-danger">
          <div class="card-block">
            This is a <b>negative</b> tweet about this #Hashtag
          </div>
          <div class="card-footer">
            <span class="pull-right">-- Bala Kumar</span>
          </div>
        </div>
      </div><!--/.col-->


      <div class="col-sm-8">
        <div class="card card-inverse card-warning">
          <div class="card-block">
            This is a <b>neutral</b> tweet about this #Hashtag
          </div>
          <div class="card-footer">
            <span class="pull-right">-- Bala Kumar</span>
          </div>
        </div>
      </div><!--/.col-->

    </div>
  </div>
</div>
