<div class="row">
	<div class="card" style="height:30%;width:30%;" *ngIf="loaded">
		  <div class="card-header">
			Pie Chart
		  </div>
		  <div class="card-block">
			<div class="chart-wrapper">
			  <canvas baseChart class="chart"
			  [data]="[+positive,+negative,+neutral]"
			  [labels]="pieChartLabels"
			  [chartType]="pieChartType"
			  (chartHover)="chartHovered($event)"
			  (chartClick)="chartClicked($event)"></canvas>
			</div>
		  </div>
	</div>
	<div class="card" style="height:60%;width:60%;" *ngIf="loaded">
		  <div class="card-header">
			Bar Chart
			<div class="card-actions">
			  <a href="http://www.chartjs.org">
				<small class="text-muted">docs</small>
			  </a>
			</div>
		  </div>
		  <div class="card-block">
			<div class="chart-wrapper">
			  <canvas baseChart class="chart"
			  [datasets]="[
			    {data: [+positive], label: 'positive'},
			    {data: [+negative], label: 'negative'},
					{data: [+neutral], label: 'neutral'}
			  ]"
			  [labels]="barChartLabels"
			  [options]="barChartOptions"
			  [legend]="barChartLegend"
			  [chartType]="barChartType"
			  (chartHover)="chartHovered($event)"
			  (chartClick)="chartClicked($event)"></canvas>
			</div>
		  </div>
	</div >
	<div class="card" style="height:30%;width:30%;" *ngIf="loaded">
      <div class="card-header">
        Doughnut Chart
        <div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [data]="[+positive,+negative,+neutral]"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
</div>
