<div class="animated fadeIn" *ngIf="loaded">
  <div class="alert alert-danger" *ngIf="nohashtags; else showTags">
    No categories requested.
  </div>
  <ng-template #showTags>
    <div class="row" *ngFor="let hashtag of hashtags">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i><b>#{{hashtag['hashtag']}}</b></i>
            <small>Summary</small>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-1 clearfix">
                    <i class="fa fa-twitter bg-primary p-1 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-h">{{hashtag['numTweets']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Tweets</div>
                  </div>
                  <div class="card-footer px-1 py-h">
                    <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/view-tweets']"
                       [queryParams]="{hashtag: 'Hashtag'}">View More <i
                      class="fa fa-angle-right float-right font-lg"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-1 clearfix">
                    <i class="fa fa-users bg-inverse p-1 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-inverse mb-0 mt-h">{{hashtag['numUsers']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Users</div>
                  </div>
                  <div class="card-footer px-1 py-h">
                    <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i
                      class="fa fa-angle-right float-right font-lg"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-1 clearfix">
                    <i class="fa fa-users bg-warning p-1 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-warning mb-0 mt-h">{{hashtag['sentiment']}}%</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Sentimental Score</div>
                  </div>
                  <div class="card-footer px-1 py-h">
                    <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i
                      class="fa fa-angle-right float-right font-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-0 clearfix">
                    <i class="fa fa-twitter-square bg-primary p-2 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-primary mb-0 pt-1">{{hashtag['retweets']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Retweets</div>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-0 clearfix">
                    <i class="fa fa-thumbs-up bg-success p-2 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-success mb-0 pt-1">109,50</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Likes</div>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block p-0 clearfix">
                    <i class="fa fa-globe bg-danger p-2 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-danger mb-0 pt-1">{{hashtag['reach']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Reach</div>
                  </div>
                </div>
              </div><!--/.col-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
