<div class="animated fadeIn" *ngIf="loaded; else spinner">
  <div class="row" *ngFor="let hashtag of hashtags">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i><b style="font-size: 16px">#{{hashtag['hashtag']}}</b></i>
        </div>
        <div class="card-block">
          <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="card" role="button" [routerLink]="['view-tweets']"
                     [queryParams]="{hashtag: hashtag['hashtag'] }">
                  <div class="card-block p-0 clearfix">
                    <i class="fa fa-twitter rounded-circle  p-1 font-4xl mr-1 float-left card-icon"></i>
                    <div class="h5 mb-0 pt-1">{{hashtag['numTweets']}}</div>
                    <a class="font-weight-bold font-xs btn-block text-muted">
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Tweets</div>
                    </a>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="card" role="button">
                  <div class="card-block p-0 clearfix">

                    <i class="material-icons md-36 rounded-circle  p-1 font-4xl mr-1 float-left card-icon">people</i>
                    <!--<i class="fa fa-users bg-inverse p-1 font-2xl mr-1 float-left"></i>-->
                    <div class="h5 mb-0 pt-1">{{hashtag['numUsers']}}</div>
                    <a class="font-weight-bold font-xs btn-block text-muted">
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Users</div>
                    </a>
                  </div>
                </div>
              </div><!--/.col-->


            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="card" role="button">
                  <div class="card-block p-0 clearfix">

                    <i
                      class="material-icons md-36  rounded-circle  p-1 font-4xl mr-1 float-left card-icon">assessment</i>
                    <!--<i class="fa fa-users bg-warning p-1 font-2xl mr-1 float-left"></i>-->
                    <div class="h5 mb-0 pt-1">{{ hashtag['sentiment'].toPrecision(4) }}%</div>
                    <a class="font-weight-bold font-xs btn-block text-muted">
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Sentimental Score</div>
                    </a>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-block p-0 clearfix">
                    <i class="fa fa-twitter-square rounded-circle p-1 font-4xl mr-1 float-left card-icon"></i>
                    <div class="h5 mb-0 pt-1">{{hashtag['retweets']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Retweets</div>
                  </div>
                </div>
              </div><!--/.col-->

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card" role="button" [routerLink]="['tweet-retweet-chart']"
                     [queryParams]="{tweets : hashtag['numTweets'],retweets: hashtag['retweets']}">
                  <div class="card-block p-0 clearfix">

                    <i class="material-icons md-36 rounded-circle p-1 font-4xl mr-1 float-left card-icon">thumb_up</i>
                    <!--<i class="fa fa-thumbs-up bg-success p-1 font-5xl mr-1 float-left"></i>-->
                    <div class="h5 mb-0 pt-1">109,50</div>
                    <a class="font-weight-bold font-xs btn-block text-muted">
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Likes</div>
                    </a>
                  </div>
                </div>
              </div><!--/.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-block p-0 clearfix">
                    <i class="material-icons md-36  rounded-circle p-1 font-4xl mr-1 float-left card-icon">language</i>
                    <!--<i class="fa fa-globe bg-danger p-1 font-2xl mr-1 float-left"></i>-->
                    <div class="h5 mb-0 pt-1">{{hashtag['reach']}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Reach</div>
                  </div>
                </div>
              </div><!--/.col-->
            </div>
          </div>
          <div class="col-sm-6">
              <app-view-dash-tweets [hashtag]="hashtag"></app-view-dash-tweets>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-loading-spinner>Loading...</app-loading-spinner>
</ng-template>
